name: Sidebar rerendering workflow

on:
  workflow_dispatch:

jobs:
  singleJob:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Rerender sidebar
      run: |
          cd ./docs
          python3 rerenderSidebar.py
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
